@import 'reset.scss';
@import 'common.scss';
@import 'variable/index.scss';

html {
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
}

#app{
	width: 100%;
	height: 100%;
}

.el-message-box__wrapper{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}